html {

}
.header {
	background: red;
	text-align: center;
}

body {

}
.heading {
	text-align: center;
}
.navbar {
	justify-content: center;
}
.nav-item {
	background: black;
	border:1px solid black;
	margin: 0 3px 5px 3px;
}

.nav-item a {
	color: yellow;
}

.nav-item a:hover {
	color: black;
	background: cyan;
}
.fill {
	min-height: 100%;
	height: 100%;
}
.side-body {
	background: white;
	padding-top:1%;

}
.main-body {
	background: orange;
	padding:1% 10% 100% 10%;
}

.footer {
	background: yellow;
	bottom: 0;
}